.App {
  text-align: center;
}

#image_1 {
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  position: absolute;
  z-index: -1;
}

#image_2 {
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  position: absolute;
  top: 100%;
  z-index: -1;
}

.logo {
  position: relative;
  z-index: 0;
  left: 4rem;
  top: 51rem;

  width: 200px;
}

.EcoBox {
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-size: 50px;
  color: #b8b6a4cc;
}

.nav_bar {
  margin: 0;

  position: absolute;
  top: 25px;
  left: 670px;

  font-family: 'Exo', sans-serif;
  font-size: 20px;
  color: #bdbba9cc;
}

.nav_bar h3 {
  display: inline-block;
  margin-right: 20px;
}

.slogan_1 {
  font-family: 'Exo', sans-serif;
  font-size: 60px;
  position: relative;
  top: 3.7rem;
  left: 6rem;

  width: 1000px;
}

p {
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'Exo', sans-serif;
}

span {
  color: rgb(106, 155, 89);
  font-size: 60px;
}

#instigator {
  font-family: 'Exo', sans-serif;
  font-size: 25px;

  position: relative;
  z-index: 2;
  top: 21rem;
  left: 38rem;
}

input {
  width: 235px;
  height: 40px;
  text-align: center;

  font-family: 'Exo', sans-serif;
  font-size: 15px;

  position: relative;
  top: 22rem;
  left: 38rem;
  
  border: none;
  border-radius: 11px;
}

.button {
  font-family: 'Exo', sans-serif;
  font-size: 20px;

  position: relative;
  top: 3rem;
  left: 53rem;

  width: 180px;
  height: 45px;

  padding: 8px;
  margin-right: 300px;
  border: none;
  border-radius: 15px;
}

#submit-btn {
  font-family: 'Exo', sans-serif;
  font-size: 13px;

  position: relative;
  z-index: 2;
  top: 22rem;
  left: 38.5rem;

  width: 70px;
  height: 38px;

  padding: 8px;
  margin-right: 300px;
  border: none;
  border-radius: 15px;
}

.button:active {
  color: white;
  background-color: rgb(106, 155, 89);
}

#submit-btn:active {
  color: white;
  background-color: rgb(106, 155, 89);
}

#qmark {
  color: black;
  animation: twinkle infinite;
  animation-duration: 2s;
  /* animation-delay: 0.5s; */
}

@keyframes twinkle {
  0% {opacity: 1;}
  /* 30% {opacity: 0.2;} */
  50% {opacity: 0.2;}
  /* 70% {opacity: 0.7;} */
  100% {opacity: 1;}
}

#vid {
  position: relative;
  z-index: 2;
  top: 58rem;
  left: 4rem;
  width: 480px;
  height: 300px;
}

.problem {
  font-family: 'Exo', sans-serif;
  font-size: 30px;

  position: relative;
  z-index: 2;
  top: 15rem;
  left: 4rem;

  width: 600px;
}

.solution {
  font-family: 'Exo', sans-serif;
  font-size: 30px;

  position: relative;
  z-index: 2;
  top: 15rem;
  left: 4rem;

  width: 670px;
}

