#image_1, #image_2 {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  z-index: -1;
}

#image_2 {
  top: 100%;
}

.slogan_1 {
  font-family: 'Exo', sans-serif;
  font-size: 60px;
  position: relative;
  top: 3.7rem;
  left: 6rem;

  width: 1000px;
  color: rgb(66,85,89);
}

p {
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'Exo', sans-serif;
}

span {
  color:rgb(106, 155, 89); 
  font-size: 60px;
}

#instigator {
  font-family: 'Exo', sans-serif;
  font-size: 25px;

  position: relative;
  z-index: 2;
  top: 21rem;
  left: 38rem;

  width: 350px;
  color: rgb(66,85,89);
}

input {
  width: 235px;
  height: 40px;
  text-align: center;

  font-family: 'Exo', sans-serif;
  font-size: 15px;

  position: relative;
  top: 22rem;
  left: 38rem;
  
  border: none;
  border-radius: 11px;
  color: rgb(247, 174, 38);
}

.button {
  font-family: 'Exo', sans-serif;
  font-size: 20px;

  position: relative;
  top: 3rem;
  left: 53rem;

  width: 180px;
  height: 45px;

  padding: 8px;
  margin-right: 300px;
  border: none;
  border-radius: 15px;
  color: rgb(247, 174, 38)
}

#submit-btn {
  font-family: 'Exo', sans-serif;
  font-size: 13px;

  position: relative;
  z-index: 2;
  top: 22rem;
  left: 38.5rem;

  width: 70px;
  height: 38px;

  padding: 8px;
  margin-right: 300px;
  border: none;
  border-radius: 15px;
  color: rgb(242,185,80)
}

.button:active {
  color:white;
  background-color: rgb(215,210,217);
}

#submit-btn:active {
  color: white;
  background-color: rgb(215,210,217);
}

#qmark {
  color: rgb(66,85,89);
  animation: twinkle infinite;
  animation-duration: 2s;
}

@keyframes twinkle {
  0% {opacity: 1;}
  50% {opacity: 0.2;}
  100% {opacity: 1;}
}

#vid {
  position: relative;
  z-index: 2;
  top: 58rem;
  left: 4rem;
  width: 30em;
  height: 18.7em;
}

.problem {
  font-family: 'Exo', sans-serif;
  font-size: 30px;

  position: relative;
  z-index: 2;
  top: 15rem;
  left: 4rem;
  color: rgb(66,85,89);

  width: 600px;
}

.solution {
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: rgb(66,85,89);

  position: relative;
  z-index: 2;
  top: 15rem;
  left: 4rem;

  width: 670px;
}

@media only screen and (min-width: 1441px) {
  .slogan_1 {
    font-size: 75px;
    width: 1500px;
    top: 1.5em;
  }
  span {
    font-size: 75px;
  }
  .button {
    top: 6em;
    left: 54em;
    width: 200px;
    height: 55px;
  }
  .problem,.solution {
    top: 10em;
    font-size: 2.5em;
    width: 790px;
  }
  #vid {
    top: 80.6em;
    width: 35em;
    height: 24em;
  }
  #instigator {
    top: 23em;
    left: 29em;
  }
  input {
    top: 39em;
    left: 49em;
  }
  #submit-btn {
    top: 45em;
    left: 58em;
  }
}